@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff8f0;
  font-family: Inter, sans-serif;
  color: #2a2a2a;
}


.hero-pattern {
  background-image: url("/src/assets/bg-pattern.svg");
  background-repeat: repeat;
}
@keyframes scaleIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-scale-in {
  animation: scaleIn 0.25s ease-out;
}
